.Manage {
  text-align: 'center'
}

.form {
  padding: 30px;
}

hr {
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 2px solid rgba(0,0,0,.1);
  margin-top: -3px;
}
input.input-200 {
  margin-left: 20px;
  display: inline-block;
  width: 200px;
}
input.input-150 {
  margin-left: 20px;
  display: inline-block;
  width: 150px;
}
input.input-100 {
  margin-left: 20px;
  display: inline-block;
  width: 100px;
}
input.input-50 {
  margin-left: 20px;
  display: inline-block;
  width: 50px;
}
.gg{
  position: absolute;
  left: 40%;
}
.btnjas {
  background-color: #FC4D9A;
  border: none;
  border-radius: 2px;
  padding-top: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}
.btnjas:hover{
  background-color: rgb(248, 16, 117);
}
.spin-loading {
  margin: 6em auto;
}
