.App {
  text-align: center;
}
.pd0 {
  padding: 0 !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.mg0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header-pink {
  background-color: "#FC4D9A";
}
.navbar-pink {
  background-color: "#FEC6DF";
}
.navbar-yellow {
  background-color: "#FDFF68";
}
.text-pink {
  color: "#FB0910";
}

.navbar {

}

.navigation {
  
}

.manage {

}